<admin-sidebar></admin-sidebar>

<div class="content">

    <div class="mgnt-navigation-menu">
        <admin-top></admin-top>
    </div>

    <div class="uk-width-1-1">
        <div class="uk-panel ">
            <div class="uk-grid-width-large-1-5 uk-grid-width-medium-1-2 uk-grid-width-small-1-1 uk-grid uk-grid-collapse uk-grid-small "  data-uk-grid-margin="">

                <!--START BRANCHES TEMPLATE-->
                <div ng-repeat="data in branches ">
                    <div class="uk-panel uk-panel-box dash">
                        <h3 class="uk-panel-title uk-margin-bottom-remove dropdown"data-uk-dropdown="{mode:'click'}" >{{data.get('name')}}
                            <span class="uk-align-right" ><button class="uk-icon-gear gear uk-icon-small"></button></span>
                            <div class="uk-dropdown drop">
                                <ul class="uk-nav uk-nav-dropdown uk-text-bold">
                                    <!--<li ng-click="setEditQuota(data)" class="uk-dropdown-close"><a class="" data-uk-modal="{target:'#addBranch'}">Edit Quota</a></li>-->
                                    <li ng-click="monitor(data)" class="uk-dropdown-close"><a class="">Database</a></li>
                                    <li ng-click="editBranch(data)" class="uk-dropdown-close"><a class="">Edit Branch</a></li>
                                </ul>
                            </div>
                        </h3>

                        <h4 class=" uk-margin-top-remove text-black"><span>user: </span> {{data.get('firstname')+ ' ' +data.get('lastname')}}</h4>
                        <h5 class=" uk-margin-top-remove text-black"><span>location: </span> {{data.get('location')}}</h5>
                        <div class="">
                            <button ng-click="setEvaluate(data)" class="button button-green uk-align-center uk-position-bottom uk-width-8-10" data-uk-modal="{target:'#evaluate'}">EVALUATE</button>
                        </div>
                    </div>
                </div>
                <!--END BRANCHES TEMPLATE-->

            </div>
        </div>
    </div>
</div>
<div id="evaluate" class="uk-modal" role="form">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2 class=" uk-text-center uk-text-bold" > Evaluation</h2>
        <div class="uk-width-9-10 uk-align-center ">
            <div class=" uk-align-center ">
                <h3 class=" uk-text-center"> Branch overview for the month: </h3>
                <h4> Clients: 
                    <span ng-if="loader.isLoadingData">Loading clients total...</span>
                    <span ng-if="!loader.isLoadingData">{{count.clients}}</span>
                </h4>
                <h4> Service Transactions: 
                    <span ng-if="loader.isLoadingData">Loading transactions total...</span>
                    <span ng-if="!loader.isLoadingData">{{count.transactions}}</span>
                </h4>
                
                <p ng-if="count.transactions < 50 && !loader.isLoadingData">This branch needs to improve their performance level to get more clients but since this branch has {{count.inquires}} inquiries this branch can still have a potential client. Just convince them.</p>
                
                <p ng-if="count.transactions >= 50 && !loader.isLoadingData">This branch reached the monthly qouta. They deserve something. Keep them feel happy Boss! :)</p>
            </div>
            <button class="uk-align-center button button-green uk-modal-close uk-width-3-10" >Okay</button>
        </div>
    </div>
</div>


<script src="assets/uikit-2.24.2/js/uikit.min.js"></script>