<div class="uk-width-1-1 uk-height-viewport uk-flex uk-flex-middle login-bg">
    <div class="uk-width-large-3-10 uk-width-medium-1-2 uk-width-small-7-10 back-white uk-align-center">
        <div class="uk-container uk-container-center" role="form">
            <div class="uk-width-1-1 uk-panel uk-align-center">
                <img src="assets/image/Uplink-Logo-Black.png" alt="Uplink" class="uk-margin-top uk-width-8-10 uk-align-center "/>
                <form class="uk-container-center" ng-submit="login()">
                    <div class="uk-form-icon uk-width-1-1 uk-margin-bottom ">
                        <i class="text-gray uk-icon uk-icon-user"></i>
                        <input ng-model="user.username" ng-disabled="loader.isLoggingIn" type="text" required class="uk-width-1-1 " placeholder="Login ID"/>
                    </div>
                    <div class="uk-form-icon uk-width-1-1 uk-margin-bottom ">
                        <i class="text-gray uk-icon uk-icon-lock "></i>
                        <input ng-model="user.password" ng-disabled="loader.isLoggingIn" type="password" required class="uk-width-1-1 " placeholder="Password"/>
                    </div>
                    <div class="uk-grid uk-grid-collapse  uk-grid-width-1-2 uk-margin-bottom">
                        <div class="uk-flex uk-flex-middle uk-align ">
                            <h5><input ng-model="keepMeLoggedIn" ng-disabled="loader.isLoggingIn" ng-change="checkboxChanged()" type="checkbox"> Remember me</h5>
                        </div>
                        <div class="">
                            <button ng-disabled="loader.isLoggingIn" id="login" type="submit" class="login-button button-green  uk-align-right">
                                <span ng-if="loader.isLoggingIn"><i class="uk-icon-spin uk-icon-spinner"></i></span>
                                <span class="text-white" ng-if="!loader.isLoggingIn">LOGIN</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="assets/uikit-2.24.2/js/uikit.min.js"></script>
<script src="assets/js/admin.js"></script>
<script src="assets/uikit-2.24.2/js/components/notify.min.js"></script>