<link rel="stylesheet" href="assets/css/branch.css"/>

<branch-sidebar></branch-sidebar>

<div class="content">
    <div class="mgnt-navigation-menu">
        <branch-top></branch-top>
    </div>

    <div class="uk-width-1-1">
        <h2 class="uk-text-bold uk-margin-bottom-remove">Online Transactions</h2>
        <div class="uk-width-1-1 uk-panel uk-margin-top">
            <ul class="uk-tab" data-uk-tab data-uk-switcher="{connect:'#set'}">
                <li><a ng-click="setClick(1)" class="uk-text-bold text-black"> Pre-Registration</a></li>
                <li><a ng-click="setClick(2)" class="uk-text-bold text-black"> Service Reservation</a></li>
                <li><a ng-click="setClick(3)" class="uk-text-bold text-black"> Customer Support</a></li>
            </ul>
            <ul id="set" class="uk-switcher">
                <!-- PRE REGISTRATION-->
                <li>
                    <div class="uk-width-1-1 table-list ">
                        <table class="uk-table">
                            <thead>
                            <tr class="uk-text-center uk-text-bold">
                                <td class="uk-width-2-10 uk-tex-bold"> Name</td>
                                <td class="uk-width-2-10 "> Email Address</td>
                                <td class="uk-width-2-10 "> Contact No.</td>
                                <td class="uk-width-2-10 "> Address</td>
                                <td class="uk-width-2-10 "> Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class=" " dir-paginate="data in preregistrations | itemsPerPage: pageSize" current-page="currentPage" pagination-id="'preregistrationsPagination'">
                                <td class="uk-width-2-10 uk-text-right"><h4>{{data.get('firstname') + ' ' + data.get('middlename') + ' ' + data.get('lastname')}}</h4></td>
                                <td class="uk-width-2-10 uk-text-center"><h4>{{data.get('email')}}</h4></td>
                                <td class="uk-width-2-10 uk-text-center"><h4>{{'+639'+data.get('contact')}}</h4></td>
                                <td class="uk-width-2-10 uk-text-center"><h4>{{data.get('address')}}</h4></td>
                                <td class="uk-width-2-10">
                                    <button ng-click="approve(data.id)" ng-disabled="loader.isSubmittingAction" class="table-btn addtrans-btn uk-text-bold uk-text-center"> Approve</button>
                                    <a ng-click="setSelectedDeletePreregistration(data.id)" class="uk-margin-left" data-uk-modal="{target:'#deletePreregistration'}"><i class="uk-icon-trash-o uk-icon-large" data-uk-tooltip="{pos:'bottom-left'}" title="Delete"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul>
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="app/components/shared/views/pagination-template.html" pagination-id="'preregistrationsPagination'"></dir-pagination-controls>
                    </ul>
                </li>
                <!-- RESERVATION-->
                <li>
                    <div class="uk-width-1-1 table-list ">
                        <table class="uk-table">
                            <thead>
                            <tr class="uk-text-center">
                                <td class="uk-width-2-10 uk-tex-bold"> Name</td>
                                <td class="uk-width-1-10 "> Contact No.</td>
                                <!--<td class="uk-width-2-10 "> Address</td>-->
                                <td class="uk-width-1-10 "> Service Type</td>
                                <td class="uk-width-3-10 "> Comment</td>
                                <td class="uk-width-3-10 "> Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class=" " dir-paginate="data in reservations | itemsPerPage: pageSize" current-page="currentPage" pagination-id="'reservationsPagination'">
                                <td class="uk-width-2-10 uk-text-center"><h4>{{data.get('lastname')}}</h4></td>
                                <!--<td class="uk-width-1-10 uk-text-center"><h4>+639{{data.get('userPointer').get('contact')}}</h4></td>-->
                                <td class="uk-width-1-10 uk-text-center"><h4>+639{{data.get('contact')}}</h4></td>
                                <!--<td class="uk-width-2-10 uk-text-center"><h4>Bulihan Silang Cavite</h4></td>-->
                                <td class="uk-width-1-10 uk-text-center"><h4>{{data.get('type')}}</h4></td>
                                <td class="uk-width-3-10 uk-text-center"><h5>{{data.get('comment')}}</h5></td>
                                <td class="uk-width-3-10" ng-if="!loader.isSubmittingAction">
                                    <button ng-click="updateReservationStatus(data)" ng-disabled="loader.isSubmittingAction" ng-hide="isOnProcess(data)" class="table-btn addtrans-btn uk-text-bold uk-text-small uk-text-center "> ON-PROCESS</button>
                                    <button ng-click="setSelectedDoneReservation(data)" ng-disabled="loader.isSubmittingAction" data-uk-modal="{target:'#doneTransaction'}" class="table-btn addtrans-btn uk-text-bold uk-text-small uk-text-center "> DONE</button>
                                    <a ng-click="setSelectedDeleteReservation(data.id)" ng-disabled="loader.isSubmittingAction" class="uk-margin-left" data-uk-modal="{target:'#deleteReservation'}"><i class="uk-icon-trash-o uk-icon-large" data-uk-tooltip="{pos:'bottom-left'}" title="Delete"></i></a></td>
                                </td>
                                <td class="uk-width-3-10 uk-text-center" ng-if="loader.isSubmittingAction">
                                    <h3><i class="uk-icon-spin uk-icon-spinner"></i></h3>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul>
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="app/components/shared/views/pagination-template.html" pagination-id="'reservationsPagination'"></dir-pagination-controls>
                    </ul>

                </li>
                <!-- CUSTOMER SUPPORT-->
                <li>
                    <div class="uk-width-1-1 table-list ">
                        <table class="uk-table">
                            <thead>
                            <tr class="uk-text-center">
                                <td class="uk-width-2-10 uk-tex-bold"> Date Filed</td>
                                <td class="uk-width-4-10 "> Name</td>
                                <!--<td class="uk-width-2-10 "> Contact No.</td>-->
                                <td class="uk-width-3-10 "> Link</td>
                                <td class="uk-width-1-10 "> Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="uk-text-center " dir-paginate="data in customerservices | itemsPerPage: pageSize" current-page="currentPage" pagination-id="'customersupportsPagination'">
                                <td class="uk-width-2-10">{{formatDate(data.createdAt)}}</td>
                                <td class="uk-width-4-10">{{data.get('lastname')}}</td>
                                <!--<td class="uk-width-2-10">{{data.get('contact')}}</td>-->
                                <td class="uk-width-3-10"><a ng-click="setView(data)" class="uk-text-small" data-uk-modal="{target:'#viewcustomersupport'}">VIEW</a></td>
                                <td class="uk-width-1-10"><a ng-click="setDelete(data)" data-uk-modal="{target:'#deletecustomersupport'}"><i class="uk-icon-trash-o uk-icon-small" data-uk-tooltip="{pos:'bottom-left'}" title="Delete"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul>
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="app/components/shared/views/pagination-template.html" pagination-id="'customersupportsPagination'"></dir-pagination-controls>
                    </ul>

                </li>
            </ul>
        </div>

    </div>
</div>

<div id="deletePreregistration" class="uk-modal ">
    <div class="uk-modal-dialog delbranch ">
        <h2 class=" uk-text-center uk-text-bold" >Do you really want to delete this pre-registration?</h2>
        <div class="uk-width-1-1 uk-panel margin-medium-top">
            <p class="uk-text-center"><span class="text-red uk-text-large">Note* </span>Deleting this will permanently erase the data in database.</p>
            <div class=" uk-grid uk-grid-collapse uk-grid-width-1-2 uk-grid-medium margin-medium-top" >
                <div>
                    <button ng-click="deletePreregistration()" ng-disabled="loader.isSubmittingAction" class="uk-button button-green text-white uk-align-right ">Yes</button>
                </div>
                <div>
                    <button class="uk-button button-green text-white uk-align-left button uk-modal-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteReservation" class="uk-modal ">
    <div class="uk-modal-dialog delbranch ">
        <h2 class=" uk-text-center uk-text-bold" >Do you really want to delete this reservation?</h2>
        <div class="uk-width-1-1 uk-panel margin-medium-top">
            <p class="uk-text-center"><span class="text-red uk-text-large">Note* </span>Deleting this will permanently erase the data in database.</p>
            <div class=" uk-grid uk-grid-collapse uk-grid-width-1-2 uk-grid-medium margin-medium-top" >
                <div>
                    <button ng-click="deleteReservation()" ng-disabled="loader.isSubmittingAction" class="uk-button button-green text-white uk-align-right ">Yes</button>
                </div>
                <div>
                    <button class="uk-button button-green text-white uk-align-left uk-modal-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="viewcustomersupport" class="uk-modal ">
    <div class="uk-modal-dialog reserve-modal back-gray">
        <a class="uk-modal-close uk-close"></a>
        <h2 class=" uk-text-center uk-text-bold" > Customer Support</h2>
        <div class="uk-width-9-10 uk-align-center uk-panel margin-medium-top ">
            <div class="uk-container uk-container-center" role="login">
                <div class="uk-width-1-1">
                    <div>
                        <label  class="uk-text-right">Full name:</label>
                        <input value="{{selectedView.get('lastname')}}" type="text" class="uk-width-1-1 public-input text-italic uk-text-bold" disabled>
                    </div>
                    <!--<div>-->
                    <!--<label  class="uk-text-right">Contact number:</label>-->
                    <!--<input value="{{selectedView.get('contact')}}" type="text" class="uk-width-1-1 public-input text-italic" disabled>-->
                    <!--</div>-->
                    <div>
                        <label  class="uk-text-right">Subject:</label>
                        <input value="{{selectedView.get('subject')}}" type="text" class="uk-width-1-1 public-input text-italic" disabled>
                    </div>

                    <div>
                        <label class="text-black">Comments:</label>
                        <textarea type="text" class="uk-width-1-1 public-textarea text-italic" disabled>{{selectedView.get('message')}}</textarea>
                    </div>
                </div>
                <button class="uk-button button-green text-white uk-align-center uk-margin-top uk-modal-close" >Okay</button>
            </div>

        </div>
    </div>
</div>

<div id="deletecustomersupport" class="uk-modal ">
    <div class="uk-modal-dialog delbranch ">
        <h2 class=" uk-text-center uk-text-bold" >Do you really want to delete this?</h2>
        <div class="uk-width-1-1 uk-panel margin-medium-top">
            <p class="uk-text-center"><span class="text-red uk-text-large">Note* </span>Deleting this will permanently erase it from the database.</p>
            <div class=" uk-grid uk-grid-collapse uk-grid-width-1-2 uk-grid-medium margin-medium-top" >
                <div>
                    <button ng-click="deleteCustomerService()" class="uk-button button-green text-white uk-align-right">
                        <span ng-if="loader.isSubmittingAction"><i class="uk-icon-spin uk-icon-spinner"></i></span>
                        <span class="text-white" ng-if="!loader.isSubmittingAction">Yes</span>
                    </button>
                </div>
                <div>
                    <button class="uk-button button-green text-white uk-align-left uk-modal-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="doneTransaction" class=" uk-modal ">
    <div class="uk-modal-dialog back-gray">
        <a class="uk-modal-close uk-close"></a>
        <h2  class="uk-text-bold uk-text-center uk-margin-small-top uk-margin-bottom text-white"> Finish Reservation</h2>
        <div class="uk-width-1-1 " role="login">
            <div class="uk-width-1-1 ">
                <form ng-submit="doneReservation()">
                    <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small ">
                        <div class="uk-width-large-6-10 uk-width-small-1-1  back-gray uk-align-center">
                            <h3 class="uk-text-center uk-text-bold">Transaction Details</h3>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Service Type:
                                    <input ng-value="getSelectedReservation().get('type')" disabled type="text" class="uk-width-1-1 "  /></label>
                            </div>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Plan (if available):
                                    <input ng-model="doneReservationData.plan" type="text" class="uk-width-1-1 "  /></label>
                            </div>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Amount Paid:
                                    <input ng-model="doneReservationData.amount" type="text" class="uk-width-1-1 " required /></label>
                            </div>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Receipt no.:
                                    <input ng-model="doneReservationData.ar"  type="text" class="uk-width-1-1 " required /></label>
                            </div>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Date:
                                    <input ng-model="doneReservationData.date" type="date" class="uk-width-1-1 " required /></label>
                            </div>
                            <div class=" uk-align-center uk-grid uk-grid-width-large-1-1 uk-grid-width-small-1-1 uk-grid-collapse uk-grid-small uk-margin">
                                <label class="uk-text-bold contact-no">Remarks:
                                    <input ng-model="doneReservationData.remarks" type="text" class="uk-width-1-1 " required /></label>
                            </div>
                        </div>
                    </div>
                    <button ng-if="!loader.isSubmittingAction" class="button-box button-green uk-margin-top uk-align-center" type="submit">SAVE</button>
                    <button ng-if="loader.isSubmittingAction" class="button-box button-green uk-margin-top uk-align-center">SAVING...</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="assets/uikit-2.24.2/js/uikit.min.js"></script>
<script src="assets/uikit-2.24.2/js/components/notify.min.js"></script>
<script src="assets/js/branch.js"></script>